<div>
  <h1>Recipes!</h1>
  <p>
    <form ng-submit="search()" class="form-inline">
      <input type="search" class="form-control" ng-model="model.searchInput"/>
      <submit class="btn btn-default">Search</submit>
    </form>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Calories</th>
        <!--<th>Amount</th>-->
        <!--<th>Calculated calories</th>-->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ingredient in model.ingredients">
        <td>{{ingredient.id}}</td>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.calories}}</td>
        <!--<td><input type="number" ng-model="ingredient.amount"/></td>-->
        <!--<td>{{ingredient.calories * ingredient.amount}}</td>-->
      </tr>
    </tbody>
    <!--<tfoot>
      <tr>
        <td>Sum</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{totalCalories()}}</td>
      </tr>
    </tfoot>-->
  </table>
</div>
